<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    

    <title>WoodworkingNow</title>

    
  </head>
  <body>
    <div>
        <% if logged_in? %>
          <div><a href="/plans">Plans</a></div>
          <div><a href='/logout'>Log Out</a></div>
        <% else %>
          <div><a href='/signup'>Sign up</a></div>
          <div><a href='/login'>Log In</a></div>
        <% end %>
          <div><a href="/">Home</a></div>
    </div>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2021 <strong>WoodworkingNow</strong></small>
      </footer>
    </div>

    
  </body>
</html>
