<h1>Create a Plan!</h1>

<p><%= @error %></p>

<form action="/plans" method="post">
    <label>Plan Name</label>
    <input type="text" name="title" >
    <p><label>Instructions</label>
    <input type="textarea" name="instructions"></p>
    <label>Image</label>
    <input type="text" name="image">
    <button type="submit">Add Plan</button>

    <img src="https://techgenix.com/tgwordpress/wp-content/uploads/2019/08/azure-blueprints-Shutterstock.jpg">

</form>