<h1><%= @plan.title %></h1>
<h2><%= @plan.instructions %></h2>
<img src="<%= @plan.image %>" alt="plan">

<form action="/plans/<%= @plan.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete Plan</button>
